<mat-card class="app-card">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">person</mat-icon>
        Cliente
      </ng-template>
      <form class="app-form" #form="ngForm" (submit)="gravar($event, form)">
        <mat-card class="app-card">
          <mat-card-header>
            <mat-card-title>Dados Básicos</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field style="width: 50%; padding-left: 0.5em;">
              <input matInput placeholder="Nome" name="NRNome" [(ngModel)]="entity.NRNome" #NRNome="ngModel" required
                max="100" maxlength="100" />
              <mat-error *ngIf="NRNome.invalid">{{ msgObrigatorio.msg }}</mat-error>
            </mat-form-field>
            <mat-form-field style="width: 25%; padding-left: 0.5em;">
              <input matInput [matDatepicker]="picker1" [(ngModel)]="entity.DTNascimento" name="DTNascimento"
                placeholder="Data de Inicio" required #DTNascimento="ngModel" />
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
              <mat-error *ngIf="DTNascimento">{{ msgObrigatorio.msg }}</mat-error>
            </mat-form-field>
            <mat-form-field style="width: 25%; padding-left: 0.5em;">
              <input matInput placeholder="Telefone" name="NRTelefone" [(ngModel)]="entity.NRTelefone" #NRTelefone="ngModel"
                required max="100" maxlength="100" />
              <mat-icon matSuffix>phone</mat-icon>
              <mat-error *ngIf="NRTelefone.invalid">{{
                msgObrigatorio.msg
                }}</mat-error>
            </mat-form-field>
            <section class="section-group" style="margin-left: 5px">
              <label style="padding-right: 10px">Sexo</label>
              <mat-radio-group [(ngModel)]="entity.BLSexo" name="BLSexo" #BLSexo="ngModel" required>
                <mat-radio-button value="sim" style="padding-right: 10px;" required>Homen</mat-radio-button>
                <mat-radio-button value="não">Mulher</mat-radio-button>
              </mat-radio-group>
            </section>
            <div *ngIf="form.invalid && form.submitted && !BLSexo.value" class="mat-error" style="font-size: 75%;">
              {{ msgObrigatorio.msg }}
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card class="app-card">
          <mat-card-header>
            <mat-card-title>Endereço</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div>
              <mat-form-field style="width: 20%; padding-left: 0.5em;">
                <input matInput placeholder="CEP" name="NRCep" [(ngModel)]="entity.NRCep" #NRCep="ngModel" required max="9"
                  maxlength="9" />
                <mat-error *ngIf="NRCep.invalid">{{
                  msgObrigatorio.msg
                  }}</mat-error>
              </mat-form-field>
            </div>
            <mat-form-field style="width: 50%; padding-left: 0.5em;">
              <input matInput placeholder="Logradouro" name="NRLogradouro" [(ngModel)]="entity.NRLogradouro"
                #NRLogradouro="ngModel" required max="100" maxlength="100" />
              <mat-error *ngIf="NRLogradouro.invalid">{{
                msgObrigatorio.msg
                }}</mat-error>
            </mat-form-field>
            <mat-form-field style="width: 20%; padding-left: 0.5em;">
              <input matInput placeholder="Bairro" name="NRBairro" [(ngModel)]="entity.NRBairro" #NRBairro="ngModel"
                required max="100" maxlength="100" />
              <mat-error *ngIf="NRBairro.invalid">{{
                msgObrigatorio.msg
                }}</mat-error>
            </mat-form-field>
            <mat-form-field style="width: 20%; padding-left: 0.5em;">
              <input matInput placeholder="Cidade" name="NRCidade" [(ngModel)]="entity.NRCidade" #NRCidade="ngModel"
                required max="100" maxlength="100" />
              <mat-error *ngIf="NRCidade.invalid">{{
                msgObrigatorio.msg
                }}</mat-error>
            </mat-form-field>
            <mat-form-field style="width: 10%; padding-left: 0.5em;">
              <input matInput placeholder="UF" name="NRUf" [(ngModel)]="entity.NRUf" #NRUf="ngModel" required max="2"
                maxlength="2" />
              <mat-error *ngIf="NRUf.invalid">{{ msgObrigatorio.msg }}</mat-error>
            </mat-form-field>
          </mat-card-content>
        </mat-card>
        <div class="app-button-row">
          <button mat-raised-button type="submit" color="primary">Salvar</button>
          <button mat-raised-button (click)="routerConsulta()">Voltar</button>
        </div>
      </form>
    </mat-tab>
    <mat-tab *ngIf="entity.id">
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">pets</mat-icon>
        Pet
      </ng-template>
      <form class="app-form" #form="ngForm" *ngIf="activeForm" (submit)="gravarPet($event, form)">
        <mat-card class="app-card">
          <mat-card-header>
            <mat-card-title>Dados Básicos</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field style="width: 40%; padding-left: 0.5em;">
              <mat-select placeholder="Espécie" [(ngModel)]="entityPet.RLEspecie" name="IDEspecie" #IDEspecie="ngModel"
                required (ngModelChange)="onChangeEspecie($event)">
                <mat-option *ngFor="let t of especies" [value]="t">
                  {{t.TPRaca | titlecase }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="IDTipoProjeto">{{msgObrigatorio.msg}}</mat-error>
            </mat-form-field>
            <mat-form-field style="width: 40%; padding-left: 0.5em;">
              <mat-select placeholder="Tipo" [(ngModel)]="entityPet.RLRaca" name="IDTipoProjeto" #IDTipoProjeto="ngModel"
                required (ngModelChange)="onChangeRaca($event)">
                <mat-option *ngFor="let t of racas" [value]="t">
                  {{t.NRNome | titlecase }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="IDTipoProjeto">{{msgObrigatorio.msg}}</mat-error>
            </mat-form-field>
            <div style="width: 20%; height: 100px; display: inline-flex;">
              <img *ngIf="downloadURL | async; let downloadSrc" [src]="downloadSrc" style="border-radius: 50px; height: 100px; margin: auto" />
            </div>
            <mat-form-field style="width: 50%; padding-left: 0.5em;">
              <input matInput placeholder="Nome" name="NRNome" [(ngModel)]="entityPet.NRNome" #NRNome="ngModel"
                required max="100" maxlength="100" />
              <mat-error *ngIf="NRNome.invalid">{{ msgObrigatorio.msg }}</mat-error>
            </mat-form-field>
            <mat-form-field style="width: 25%; padding-left: 0.5em;">
              <input matInput [matDatepicker]="pickerDtPet" [(ngModel)]="entityPet.DTNascimento" name="DTNascimento"
                placeholder="Data Nascimento" required #DTNascimento="ngModel" />
              <mat-datepicker-toggle matSuffix [for]="pickerDtPet"></mat-datepicker-toggle>
              <mat-datepicker #pickerDtPet></mat-datepicker>
              <mat-error *ngIf="DTNascimento">{{ msgObrigatorio.msg }}</mat-error>
            </mat-form-field>
            <section class="section-group" style="margin-left: 5px">
              <label style="padding-right: 10px">Sexo</label>
              <mat-radio-group [(ngModel)]="entityPet.BLSexo" name="BLSexo" #BLSexo="ngModel" required>
                <mat-radio-button value="macho" style="padding-right: 10px;" required>Macho</mat-radio-button>
                <mat-radio-button value="femea">Femea</mat-radio-button>
              </mat-radio-group>
            </section>
            <div *ngIf="form.invalid && form.submitted && !BLSexo.value" class="mat-error" style="font-size: 75%;">
              {{ msgObrigatorio.msg }}
            </div>
          </mat-card-content>
        </mat-card>
        <div class="app-button-row">
          <button mat-raised-button type="submit" color="primary">Salvar</button>
          <button mat-raised-button (click)="routerConsulta()">Voltar</button>
        </div>
      </form>
      <mat-divider></mat-divider>
      <div class="mat-elevation-z8" style="margin-top: 3%">
        <table mat-table [dataSource]="entitiesPet" matSort>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Ações </th>
            <td mat-cell *matCellDef="let row; let i=index;">
              <!-- <button mat-icon-button color="primary" (click)="preEdit(row)">
                <mat-icon>edit</mat-icon>
              </button> -->
              <button mat-icon-button color="warn" (click)="deleteRow(row)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="AVATAR">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Avatar</th>
            <td mat-cell *matCellDef="let element">
              <div style="display: inline-flex;">
                <img *ngIf="element.DownloadURL | async; let downloadSrc" [src]="downloadSrc" style="border-radius: 50px; height: 50px; margin: auto" />
              </div>
            </td>
          </ng-container>

          <ng-container matColumnDef="NRNome">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
            <td mat-cell *matCellDef="let element"> {{element.NRNome}} </td>
          </ng-container>

          <ng-container matColumnDef="NRRaca">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Raça </th>
            <td mat-cell *matCellDef="let element"> {{element?.RLRaca?.NRNome}} </td>
          </ng-container>

          <ng-container matColumnDef="DTNascimento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nascimento </th>
            <td mat-cell *matCellDef="let element"> {{element?.DTNascimento.toDate() | date:'dd/MM/yyyy'}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>

    </mat-tab>
  </mat-tab-group>
</mat-card>
